<div class="padre">
  <mat-card class="title">
    <img src="../assets/images/foto banner cv.png">
  </mat-card>
  <div class="content">
  <mat-card class="content">
    <mat-list role="list">
      <div mat-list-header> Education</div>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Bachelor in Systems Administration</mat-list-item>
      <mat-list-item role="listitem">Computer Technician</mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
    <div mat-list-header> Certifications</div>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Practical Course on HTML and CSS</mat-list-item>
      <mat-list-item role="listitem">UI and UX Interface Design Course</mat-list-item>
      <mat-list-item role="listitem">Basic Programming Course</mat-list-item>
      <mat-list-item role="listitem">Javascript Course</mat-list-item>
      <mat-list-item role="listitem">ECMASCRIPT 6+ Course</mat-list-item>
      <mat-list-item role="listitem">Platzi "Road To Code 3.0" certificate</mat-list-item>
      <mat-list-item role="listitem">Angular Fundamentals Course</mat-list-item>
      <mat-list-item role="listitem">Course Asynchronism with Javascrip</mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
      <div mat-list-header> Interests</div>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Training as a FullStack Web Developer</mat-list-item>
      <mat-list-item role="listitem">Test my programming skills in a work environment.</mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
      <div mat-list-header> Contact</div>
      <mat-divider></mat-divider>
      <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <div mat-line>kevincordovadavila99@gmail.com</div>
      </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>whatsapp</mat-icon>
      <div mat-line>(+593) 969489524</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>linkedin</mat-icon>
      <div mat-line>linkedin.com/in/kevin-cordova-4194911b2/</div>
    </mat-list-item>
    </mat-list>

  </mat-card>
  <mat-card class="content">
    <mat-list role="list">
      <span>Profile</span>
      <mat-divider></mat-divider>
      <div><br></div>
      <mat-card-content>I am a frontend web developer with more than two years of experience in interface design and user experience design. I work mainly in the creation of static websites such as landing pages, portfolios, business pages and I'm currently looking for a job that allows me to develop myself professionally.</mat-card-content>
    </mat-list>
    <mat-list role="list">
      <div mat-list-header> Knowledge</div>
      <mat-divider></mat-divider>
      <mat-list-item>
      <mat-icon mat-list-icon>html</mat-icon>
      <div mat-line>Modular layout</div>
      </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>javascript</mat-icon>
      <div mat-line>Implementation of scipts vanilla</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>css</mat-icon>
      <div mat-line>Pre-processed dynamism styles</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>Code compilation</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>cloud</mat-icon>
      <div mat-line>Version management</div>
    </mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
      <span>Experience</span>
      <mat-divider></mat-divider>
      <div><br></div>
      <mat-list-item>Development of the E-Commers website "Platzi-Store". </mat-list-item>
      <mat-list-item>Development of a personal blog "Hyper Blog".</mat-list-item>
      <mat-list-item>Copy of Google's Front-End Design</mat-list-item>
      <mat-list-item>Development of personal Api-Rest(Under construction)</mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
      <span>Skills</span>
      <mat-divider></mat-divider>
      <div><br></div>
      <div class="hab">
        <span>Soft</span>
      <mat-list-item>Proactive</mat-list-item>
      <mat-list-item>Creative</mat-list-item>
      <mat-list-item>Collaborative</mat-list-item>
      <mat-list-item>Responsible</mat-list-item>
    </div>
    <div class="habl">
      <span>Tools</span>
      <mat-list-item>Angular</mat-list-item>
      <mat-list-item>CSS</mat-list-item>
      <mat-list-item>HTML</mat-list-item>
      <mat-list-item>JAVASCRIPT</mat-list-item>
      <mat-list-item>Git</mat-list-item>
    </div>
    </mat-list>
    </mat-card>
