<div class="padre">
  <mat-card>
    <img src="../assets/images/Ilustraciones-vectoriales-de-arquitectura-y-paisajes-con-estilo-Mid-Century-por-Crushiform-9.jpg">
  </mat-card>
  <div class="content">
  <mat-card class="content">
    <mat-list role="list">
      <div mat-list-header> Educacion</div>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Bachiller en Administracion de Sistemas</mat-list-item>
      <mat-list-item role="listitem">Técnico en Informatica</mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
    <div mat-list-header> Certificaciones</div>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Curso Practico de HTML Y CSS</mat-list-item>
      <mat-list-item role="listitem">Curso de Diseño de Interfases UI Y UX</mat-list-item>
      <mat-list-item role="listitem">Curso de Programacion Basica</mat-list-item>
      <mat-list-item role="listitem">Curso de javascript</mat-list-item>
      <mat-list-item role="listitem">Curso de ECMASCRIPT 6+</mat-list-item>
      <mat-list-item role="listitem">Introduccion a la web: Historia y fundamentos de Internet</mat-list-item>
      <mat-list-item role="listitem">Introduccion al Diseño</mat-list-item>
      <mat-list-item role="listitem">Road To Code 3.0</mat-list-item>
      <mat-list-item role="listitem">Fundamentos de Angular</mat-list-item>
      <mat-list-item role="listitem">English For Beginners</mat-list-item>
      <mat-list-item role="listitem">Asincronismo con Javascript</mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
      <div mat-list-header> Intereses</div>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Formarme como desarrollador Web FullStack</mat-list-item>
      <mat-list-item role="listitem">Probar mis habilidades de programacion en un ambiente Laborar</mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
      <div mat-list-header> Contacto</div>
      <mat-divider></mat-divider>
      <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <div mat-line>kevincordovadavila99@mail.com</div>
      </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon> whatsapp</mat-icon>
      <div mat-line>0969489524</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>linkedin</mat-icon>
      <div mat-line>linkedin.com/in/kevin-cordova-4194911b2/</div>
    </mat-list-item>
    </mat-list>

  </mat-card>
  <mat-card class="content">
    <mat-list role="list">
      <span>Perfil</span>
      <mat-divider></mat-divider>
      <div><br></div>
      <mat-card-content>Soy desarrollador web especializado en el frondend, el diseño de interfaces y el diseño de experiencia de usuario. Trabajo principalmente en la ceacion de sitios web estaticos como landing pages, portafolios, paginas para negocios.</mat-card-content>
    </mat-list>
    <mat-list role="list">
      <div mat-list-header> Conocimientos</div>
      <mat-divider></mat-divider>
      <mat-list-item>
      <mat-icon mat-list-icon>html</mat-icon>
      <div mat-line>Maquetacion modular</div>
      </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>javascript</mat-icon>
      <div mat-line>Ejecucion de scipts vanilla</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>css</mat-icon>
      <div mat-line>Estilos dinamisos pre-procesados</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>Compilacion de codigo</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>cloud</mat-icon>
      <div mat-line>Gestion de versiones</div>
    </mat-list-item>
    </mat-list>
    <br>
    <mat-list role="list">
      <span>Proyectos</span>
      <mat-divider></mat-divider>
      <div><br></div>
    </mat-list>
    <div class="container">
      <mat-card class="proy"><img class="qr" src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fgithub.com%2FKevinC99%2FPlatzi-Store&s=6&e=h" alt="QR Code generator"/>
        <mat-card-content>
          <p>Platzi Store</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="proy"><img class="qr" src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fgithub.com%2FKevinC99%2FHyper-Blog&s=6&e=h" alt="QR Code generator"/>
        <mat-card-content>
          <p>Hyper Blog</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="proy"><img class="qr" src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fgithub.com%2FKevinC99%2FEcmascript&s=6&e=h" alt="QR Code generator"/>
        <mat-card-content>
          <p>EcmaScript</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="proy"><img class="qr" src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fgithub.com%2FKevinC99%2FCopia-de-Googgle&s=6&e=h" alt="QR Code generator"/>
        <mat-card-content>
          <p>Google</p>
        </mat-card-content>
      </mat-card>
    </div>
    </mat-card>
</div>
</div>

